.slider {
  max-width: 955px;
  margin: 0 auto;
  @include mobile {
    width: 100%;
  }

  &__elem {
    padding: 80px 60px 105px 120px;
    border: 1px solid #212121;
    margin-top: 60px;
    @include mobile {
      padding: 30px 30px 75px;
    }

    &:focus {
      outline: inherit;
    }

    .elem {
      &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          flex-direction: column;
        }
      }

      &__img {
        min-width: 159px;
        min-height: 159px;
        margin-right: 30px;
        background-size: cover;
        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    .name {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: #373737;
      @include mobile {
        text-align: center;
      }
    }

    .position {
      font-size: 12px;
      color: #454545;
      font-style: italic;
      margin-bottom: 20px;
      @include mobile {
        text-align: center;
      }
    }

    .text {
      font-size: 16px;
      color: #b0b0b0;
      text-transform: uppercase;
    }
  }
}

.slick-dots li button {
  border: 1px solid #212121;
  width: 13px;
  height: 13px;
  padding: 0;

  &:before {
    content: "";
    width: 13px;
    height: 13px;
    background: white;
  }
}

.slick-dots li.slick-active button {
  background: black;
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  content: "";
  width: 13px;
  height: 13px;
  background: black;
}

.slick-dots {
  bottom: 30px;
}
